body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    flex-wrap: wrap; 
    margin-top: 30px;
}

.galeria img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
