

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.conteudo {
    flex: 1;
    padding: 20px;
}


.footer {
    background: #333;
    color: white;
    padding: 20px;

    display: flex;
    justify-content: space-around;
}

.secao {
    font-size: 18px;
}
