body {
  margin: 0;
  height: 100vh; 
  display: flex;
  align-items: flex-end; 
}

.container {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  padding: 20px;
  gap: 10px;
}

.box {
  width: 80px;
  height: 80px;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
