body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.galeria-responsiva {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.galeria-responsiva img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform .3s;
}


.galeria-responsiva img:hover {
    transform: scale(1.05);
}
