.container{
    
    background-color: rgb(255, 254, 254);
    display: flex;
    flex-direction: row-reverse;
    padding: 20px; 
    justify-content: center;
    
}
.box1{
    background-color: rgb(255, 77, 107);
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.box2{
    background-color: rgb(229, 249, 175);
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.box3{
    background-color: rgb(69, 205, 251);
    width: 100px;
    height: 100px;
    margin-right: 20px;
    
}
